# .env.template
# Default env file for scripts and tests running locally to the max_assistant service
DEFAULT_USERNAME=Margaret.Miller

# -- OLLAMA --
#
# NAME                           ID              SIZE
# llama3.1:8b-instruct-q4_K_M    46e0c10c039e    4.9 GB
# llama3.1:8b-instruct-fp16      4aacac419454    16 GB
# gemma3:latest                  a2af6cc3eb7f    3.3 GB
# gemma3:4b                      a2af6cc3eb7f    3.3 GB
# gemma3:1b                      8648f39daa8f    815 MB
# llama3:latest                  365c0bd3c000    4.7 GB
OLLAMA_MODEL_NAME=gemma3:4b
OLLAMA_DEBUG=0

# -- NODE4J Service
NEO4J_HTTP_PORT=7474
NEO4J_BOLT_PORT=7687
NEO4J_PASSWORD=<!changeme!>
NEO4J_USER=neo4j
NEO4J_URI="bolt://localhost:7687"

# -- GMAIL (optional)
#GOOGLE_CLIENT_ID="<!changeme!>"
#GOOGLE_CLIENT_SECRET="<!changeme!>"
#GOOGLE_SENDER_EMAIL="<!changeme!>t@gmail.com"

# Set browser for cli tools that open default browser
# wsl set to "wslview"
# macOS set to "open"
# ubuntu set to default browser e.g. /usr/bin/firefox
BROWSER=wslview